/*
  Variables
 */

$bgcolor: #6441A4;
$text-color: black;
$spaces: 10px;
$hover-bgcolor: hsl(hue($bgcolor), saturation($bgcolor), lightness(white - 30));

/*
  Mixins
 */

@mixin gutter-margins($value) {
  margin : {
    left: $value;
    right: $value;
  }
}

@mixin logo-size($size) {
  width: $size;
  height: $size;
}

@mixin streamer-flex() {
  display: flex;
  flex-flow: row nowrap;
}


/*
  Rules
 */

body {
  background-color: $bgcolor;
  color: $text-color;
  @include gutter-margins(25%);
}

.streamers {
  background-color: white;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Probably not a good approach, but good enough for now. */
.streamers-invalid .streamer {
  padding: $spaces;
  @include streamer-flex();
}

.streamer {
  border-bottom: 1px solid $bgcolor;

  a {
    color: inherit;
    padding: $spaces;
    text-decoration: none;
    transition: all ease-out 0.2s;
    @include streamer-flex();

    &:hover {
      background-color: $hover-bgcolor;
      color: $bgcolor;
    }
  }

  img {
    border-radius: 50%;
    margin: auto 0;
    @include logo-size(50px);
  }

  .streamer-info {
    margin-left: $spaces;
  }

  .streamer-info > * {
    margin-top: $spaces;
    margin-bottom: $spaces;
  }
}
