/* 
  Variables
 */

$bgcolor: #6441A4;
$text-color: black;


/* 
  Mixins
 */

@mixin gutter-margins($value) {
  margin : {
    left: $value;
    right: $value;
  }
}


/* 
  Rules
 */

body {
  background-color: $bgcolor;
  color: $text-color;
  @include gutter-margins(25%);
}

.streamers {
  background-color: white;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Probably not a good approach, but good enough for now. */
.streamers-invalid .streamer {
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
}

.streamer {
  a {
    color: inherit;
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    text-decoration: none;
  }
  
  img {
    border-radius: 50%;
    margin: auto;
    margin : {
      left: 0;
      right: 10px;
    }
    width: 50px;
    height: 50px;
  }
  
  .item-info > * {
    margin: 0;
  }
}

