<li class="streamer">
  <img src="https://dummyimage.com/300x300/bbbbbb/ffffff.png&text=..." alt="{{streamer}}">
  <div class="streamer-info">
    <h2>{{streamer}}</h2>
    <p>{{streamer}} is closed/doesn't exist.</p>
  </div>
</li>
