<li class="streamer">
  <img src="https://dummyimage.com/300x300/bbbbbb/ffffff.png&text=..." alt="{{name}}">
  <div class="streamer-info">
    <h2>{{name}}</h2>
    <p>{{name}} is closed/doesn't exist.</p>
  </div>
</li>
